@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --body: rgb(255, 255, 255);
    --blue: rgb(95, 133, 236);
    --header: rgb(255, 255, 255);
    --letras: rgb(0, 0, 0);
    --linha: rgb(221, 221, 221);
}
body.tema-escuro{
transform: 2.0s;
transition-duration: 0.5s;
transition: 0.5s;
    --body: rgb(1, 11, 20);
    --blue: rgb(95, 133, 236);
    --header: rgb(16, 18, 20);
    --letras:white;
    --linha: rgb(54, 54, 54);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   transform: 2s;
   transition: 0.5s;
   transition-duration: 0.5s;
   font-family: 'Poppins', sans-serif;
    background-color: var(--body);
    color: var(--letras);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: aparecer 0.8s ease-in-out;
     animation-delay: 0.0ms;
    animation-duration: 1.0ms;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    display: flex;
    max-width: 110rem;
    max-height: 100rem;
    margin: 0 auto;
    padding: 10px;
   
}

.logo{
height: 40px;
width: 100x;
}

.header{
    z-index: 1000;
    position: fixed;
    width: 95%;
    align-self: center;
    border-radius: 0 0 20px 20px;
    animation: aparecer 0.8s ease-in-out;
    background: rgba(121, 121, 121, 0.247);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
.header-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
}

.logo span{
    color: #5d83ec;
}

.menu a{
    text-decoration: none;
    color:var(--letras);
    margin-left: 20px;
    transition: 0.3s;
}

.menu a:hover{
    
    color: #5d83ec;
}

.intro-titulo{
    color: rgb(95, 133, 236);
    
}

.intro{
    z-index: 1000;
    margin: 0 auto;
    max-width: 92%;
    margin-top: 13rem;
}

.pesquisa-section{
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 4rem;
    
}

.campoPesquisa{
    display: flex;
    justify-content: flex-start;
}

.pesquisa-conteudo{
    display: flex;
    gap: 10px;
}

.pesquisa-conteudo input{
    height: 55px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
    
}
.pesquisa-conteudo input:hover{
    filter:brightness(80%);
    border-color: #5d83ec;
    box-shadow: 0 0 5px rgba(37,99,235,0.3);
}
.pesquisa-conteudo input:focus{
    filter: brightness(80%);
    border-color: #5d83ec;
    box-shadow: 0 0 5px rgba(37,99,235,0.3);
    transform: scale(1.1);
    transform: scaleX(1.1);
    box-shadow: 2px 3px 3.4px rgb(73, 73, 73);
}

.pesquisa-button{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #5d83ec;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.pesquisa-button img{
    width: 18px;
    filter: brightness(0) invert(1);
}

.pesquisa-button:hover{
    filter: brightness(80%);
    transform: scale(1.1);
    background-color: #5d83ec;
    box-shadow: 2px 3px 3.4px rgb(131, 131, 131)
}

.seta-container {
  width: 100%;
    margin-top: 200px;
    margin-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.seta {
    background: transparent;
    width: 10px;
    height: 10px;
    border-left: none;
    border-top: none;
    background: transparent;
    transform: rotate(-45deg);
    animation: sobeDesce 1.5s ease-in-out infinite;
    box-shadow: 0px 0px 2px 2px var(--blue)
}

@keyframes sobeDesce {
    0% { transform: translateX(-50%) translateY(0) rotate(45deg); }
    50% { transform: translateX(-50%) translateY(10px) rotate(45deg); }
    100% { transform: translateX(-50%) translateY(0) rotate(45deg); }
}

#filmesGrid{
    margin: 0 auto;
    width: 95%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card{
    /*parte textual*/
    
    height: 550px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:small; /*achei melhor no meu monitor, sujeito a alterações*/
    text-align: center;
    overflow: hidden;

/*parte do button*/
    border-radius: 10px;
    border-color: whitesmoke; /*puramente para ter um aspecto redondo. não consegui retirar a borda e manter o redondinho*/
    cursor:pointer;
    box-shadow: 0 2px 5px black;
    transition: 0.5s; /*aquela subidinha legal*/
    background-color: var(--header);
}

.card:hover{
    /*para quando o mouse passar encima do card*/
    transform: scale(1.3);
    box-shadow: 1px 4px 10px black;
}

.fade-out{
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease
}
.fade-in{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header);
    animation: aparecer 0.8s ease-in-out;
    animation-delay: 0.0ms;
    padding: 40px 0;
    margin-top: auto;
}

.footer-conteudo{
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

.footer-links a{
    text-decoration: none;
    color: var(--letras);
    transition: 0.3s;
}

.footer-links a:hover{
    color: var(--blue);
}
.botaoTema{
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    border: none;
    background-color: #5d83ec;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.botaoTema:hover{
    transform: scale(1.1);
    background-color: #5d83ec;
    box-shadow: 2px 3px 3.4px rgb(131, 131, 131)
}

.detalhes-card {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top:15rem;
}

.detalhes-card img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    transition: 2s;
}

.detalhes-card img:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgb(131, 131, 131)
}

.detalhes-info {
    max-width: 600px;
}
.linha{
    border-bottom: 1px solid #ddd;
    width: 80%;
}
.linhatitulo{
    border-bottom: 1px solid var(--linha);
    width: 50%;
    margin-left: 0;
}
.linhafooter{
    border-bottom: 1px solid var(--linha);
    width: 100%;
    margin-top: 20px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 11, 20, 0.9); /* fundo escuro semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 1.2rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.spinner {
    border: 5px solid #ccc;
    border-top: 5px solid #5d83ec;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}